body {
    background-image:url("car.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: rgb(239, 232, 232);
    margin: 5px;
    background-color: rgb(208, 136, 136);
}

h1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(119, 86, 86);
}
h2 {
  background-color: rgb(103, 116, 141);
  height: 50px;
  font-weight: bold;

}
p {
    background-color: rgb(159, 192, 255);
    font-weight: bold;
    font-size: 40px;

}
li{
    font-size: 30px;
    background-color: rgb(89, 105, 134);
}


